body {
    background-color: rgba(37, 31, 63, 1)
}

.square {
    position: absolute;
    width: 1210px;
    height: 803px;
    left: 33px;
    top: 60px;
    
    background: linear-gradient(to bottom, #37345F, #4f4b86);
    border-radius: 15px;
}

p {
    position: absolute;
    width: 398px;
    height: 279px;
    left: 705px;
    top: 350px;

    color: #fff;
    font-size: 30px;
    font-family: 'Kumbh Sans', sans-serif;
}

#forsaken {
    position: absolute;
    width: 398px;
    height: 279px;
    left: 705px;
    top: 450px;

    border-radius: 27px;
    border: 15px solid #2A295A
}

#berserker {
        position: absolute;
        width: 797px;
        left: 1400px;
        top: 600px;
}

#catgirl {
    position: absolute;
    width: 204px;
    height: 213px;
    left: 16px;
    top: 600px;
}

#vesguideh1 {
    margin-left: 5%;
    color: #fff;
    font-size: 100px;
    font-family: 'Kumbh Sans', sans-serif;
}

#vesguideslogan {
    margin-left: 3%;
    color: #fff;
    font-size: 30px;
    font-family: 'Iceland', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.categ {
    position: absolute;
    width: 515px;
    height: 61px;
    left: 1500px;
    top: 100px;
    color: #fff;
    font-size: 50px;
    font-family: 'Kumbh Sans', sans-serif;

    border-color: #37345F;
    background: #37345F;
    border-radius: 15px;
}

.categ1 {
    position: absolute;
    width: 515px;
    height: 108px;
    left: 1500px;
    top: 232px;
    color: #fff;
    font-size: 50px;
    font-family: 'Kumbh Sans', sans-serif;

    border-color: #37345F;
    background: #37345F;
    border-radius: 15px;
}

.categ2 {
    position: absolute;
    width: 515px;
    height: 108px;
    left: 1500px;
    top: 350px;
    color: #fff;
    font-size: 50px;
    font-family: 'Kumbh Sans', sans-serif;

    border-color: #37345F;
    background: #37345F;
    border-radius: 15px;
}

/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4A396F;
    border-radius: 5%;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: flex;
    flex-wrap:wrap;
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #37345F;
  }
  
  li.dropdown {
    display: inline-block;
    border-radius: 20%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2A295A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20%;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .dropdown-content a:hover {background-color: #574A8B; border-radius: 10%;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
